<html xmlns=th="http://www.thymeleaf.org">
	<meta charset="utf-8">
	<!--파이어 베이스-->
	<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-firestore.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-storage.js"></script>
	<body>
		여기는 main.html
		
		
		
		
		
		
		
		
		
		
		
		
		
		<div class="container">
			<div>
				<h1>spring</h1>
				<p>회원기능</p>
				<p>
					<br>
					<a href="/">index</a>
					<a href="/main/new">회원 가입</a>
					<br>
					<a href="/main/list">리스트 확인</a>
				</p>
			</div>
		</div>
	</body>
	<script>
		var firebaseConfig = {
        apiKey: "AIzaSyDxeBMcsLOESHig6CrpweDlU7lTjHC",
        authDomain: "applemarket-83cc9.firebaseapp.com",
        projectId: "applemarket-83cc9",
      };
      firebase.initializeApp(firebaseConfig);
	</script>
</html>